/*Chat widget*/
.chat-list .odd .chat-text {
    background: #01c0c8;
}
.chat-main-box .chat-left-aside .open-panel{ background-color: #fff !important; color: #01c0c8;}
.user-bg .overlay-box {
    background: #01c0c8 !important;
}
.customtab2 li.active a, .customtab2 li.active a:hover, .customtab2 li.active a:focus {
    background: #01c0c8 !important;
    border: 1px solid #01c0c8 !important;
    color: #fff !important;
}